# dependencies
node_modules

# next.js
.next
out

# production
build
dist

# misc
.DS_Store
*.pem
.env*.local
.vercel

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo

# IDE
.idea
.vscode
*.sw*

# personal
project-thumbnails/

# legacy gatsby/netlify
.cache
.netlify

# lock files (repo policy)
yarn.lock
package-lock.json
npm-shrinkwrap.json
