h1 {
  margin: 5px;
  color: var(--text-color);
}

br {
  display: block; /* makes it have a width */
  content: ""; /* clears default height */
  margin-top: 15px; /* change this to whatever height you want it */
}

.header {
  position: relative;
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.name {
  margin-left: 15px;
  font-family: -apple-system-ui-serif, ui-serif, "New York", "Georgia", serif;
}

.social {
  display: block;
}

.social a {
  color: var(--text-color);
  margin-right: 10px;
}

.social a:hover {
  color: rgba(194,65,12);
}

svg {
  display: inline-block;
  vertical-align: middle;
  padding-left: 4px;
  padding-bottom: 5px;
}

p {
  font-size: 17px;
  color: var(--text-color);
}

.description {
  margin-top: 25px;
  margin-bottom: 25px;
}

.description a {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 400;
  background-color: var(--link-color);
  border-radius: 5px;
  padding: 4px 2px 4px 2px;
  color: var(--text-color);
}

.description a:hover {
  background-color: rgba(249,115,22, 0.4);
}