body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
}

a {
  color: #5334F5;
  text-decoration: none;
  font-weight: 600;
}

h2 {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  background: linear-gradient(104deg, #050A27 0%, #4A548C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 720px) {
  h2 {
    font-size: 40px;
  }
}

.Hero {
  background: url('../images/hero.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.HeroGroup {
  margin: 0 auto;
  max-width: 500px;
  padding: 150px 50px;
  text-align: center;
}

.Hero h1 {
  margin: 0;
  color: white;
  font-size: 60px;
  line-height: 1.2;
  opacity: 0;
  animation: HeroAnimation;
  animation-duration: 3s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1)
}

.Hero p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  line-height: 1.5;
  animation: HeroAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
}

.Hero a {
  font-size: 17;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.7);
  padding: 9px 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Hero a:hover {
  background: white;
  color: black;
}

@media (max-width: 640px) {
  .HeroGroup {
    padding: 100px 20px;
  }
  .Hero h1 {
    font-size: 40px;
  }
  .Hero p {
    font-size: 24px;
  }
}

@keyframes HeroAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.Hero svg {
  position: absolute;
  bottom: 0;
  left: 0;
}

.Hero .Logos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 40px;
  margin: 100px 0;
  justify-items: center;
}

@media (max-width: 640px) {
  .Hero .Logos {
    grid-template-columns: repeat(3, 1fr);
  }
}

.About {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 120px;
  align-items: center;
}

.AboutImage {
  padding-top: 80%;
  margin-left: -40%;
  background: url('../images/about.jpg');
  background-size: cover;
  -webkit-mask: url('../images/about-mask.svg') right top / contain no-repeat;
  background-position: calc(100% + 150px)
}

.AboutText {
  padding: 2.5rem;
}

.AboutText p {
  font-size: 30px;
  color: #8096A3;
  margin: 0;
}

.AboutText a {
  color: #394044;
}

@media (max-width: 1400px) {
  .AboutText p {
    font-size: 25px;
    color: #8096A3;
    margin: 0;
  }
}

@media (max-width: 1060px) {
  .AboutImage {
    background-position: calc(100% + 100px)
  }
  .AboutText p {
    font-size: 20px;
    color: #8096A3;
    margin: 0;
  }
}

@media (max-width: 720px) {
  .AboutImage {
    background-position: calc(100% + 125px);
    margin-right: 30px;
    margin-bottom: -20px;
  }
  .About {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 120px;
    align-items: center;
  }
  .AboutText p {
    font-size: 22px;
    color: #8096A3;
    margin: 0;
  }
}

.Cards {
  margin-top: -65px;
}

@media (max-width: 720px) {
  .Cards {
    margin-top: -100px;
  }
}

.Cards h2,
.Blog h2 {
  margin: 30px 20px;
  text-align: center;
}

.CardGroup {
  max-width: 1280px;
  margin: 0 auto 150px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 40px;
  justify-content: center;
}

@media (max-width: 1400px) {
  .CardGroup {
    max-width: 960px;
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 1060px) {
  .CardGroup {
    max-width: 640px;
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 720px) {
  .CardGroup {
    max-width: 320px;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
  }
}

.SectionGroup {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/purdue.jpg');
  background-size: cover;
  background-position-y: 65%;
  position: relative;
  display: grid;
}

.SectionTitleGroup {
  max-width: 1280px;
  position: relative;
  margin: auto;
  padding: 100px 50px;
}

.SectionTitleGroup h3 {
  color: white;
  font-size: 60px;
  margin: 0;
  line-height: 1.2;
}

@media (max-width: 720px) {
  .SectionTitleGroup h3 {
    font-size: 40px;
  }
}

.SectionTitleGroup p {
  color: white;
  font-size: 24px;
}

.Blog {
  background-color: #FAFAFA;
  padding-top: 50px;
  padding-bottom: 1px;
  display: grid;
  justify-content: center;
}

.Blog h2 {
  margin-bottom: 0;
}

.Blog p {
  font-size: 30px;
  color: #6D6E7A;
  margin: 10px 0 30px 0;
  text-align: center;
}

@media (max-width: 720px) {
  .Blog p {
    font-size: 22px;
    margin-left: 14px;
    margin-right: 14px;
  }
}